@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-one:#EFEFEF;
    --color-two:#F7D9C4;
    --color-text1:white;
    --color-text2:black;
    --color-text3:#777777;

}
*{
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:1200px) {
    .container{
        max-width: 960px;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 720px;
    }
}
@media (max-width:768px) {
    .container{
        max-width: 560px;
    }
}
@media (max-width:576px) {
    .container{
        max-width: 100%;
    }
}
.icon{
    width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.box{
    height: 380px;
    width: 364px;
    background-color: var(--color-one);
    padding: 0 16px;
}
.box-2{
    width: 100%;
    background-color: white;
    border-radius: 12px;
    border: solid 0.1px var(--color-text3);
    padding: 22px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-two);
    overflow: hidden;
    margin-bottom: 20px;
}
.name{
    text-align: center;
}