    /* Header_start */
header{
            position: fixed;
            top: 0;
            left: 0;
    display: flex;
    background-color: var(--color-one);
    height: 105px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
}
.slogan{
    display: flex;
    align-items: center;
}
header .slogan .image_slogan{
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
header .slogan .name_slogan a{
    font-size: 25.6px;
    color: var(--color-text2);
    font-weight: bold;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}
header .menu ul   {
    display: flex;
    list-style: none;
    height: 100%;
}
header .menu ul li{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 24.56px;
    height: 100%;
}
header .menu ul li a{
    color: var(--color-text2);
    font-size: 18.6px;
    font-weight: 900;
}
header .menu ul li:hover{
    background-color: rgb(255, 255, 255);
    transition: background-color 0.4s ease; 
    }
header .Icon-social ul{
    display: flex;
    
    gap: 10px;
}
header .Icon-social ul li{
    font-size: 26.6px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}
header .Icon-social ul li a{
    color: var(--color-text2);
}

 /* Header_end */

    /* ------Mid page------ */

 /* --------1 introduce -------- */
.background_introduce{
    position: relative;
    height: 588.97px;
    background-color: black;
     margin-top: 105px;
   
    display: flex;
    align-items: center;
}

.background_introduce h2{
    color: white;
    font-size: 17.6px;
    z-index: 1;
}
.background_introduce h1{
    font-size: 49.6px;
    color: white;
    z-index: 1;
    margin-top: 16px;
}
.background_introduce p{
    font-size: 17.6px;
    color: var(--color-text3);
    z-index: 1;
    margin-top: 32px;
}
.background_introduce .buttom{
    margin-top: 48px;
    display: flex;

}
.background_introduce .buttom .box1{
    background-color: var(--color-two);
    color: black;
    font-size: 17.6px;
    font-weight: 700;
    height: 56px;
    width: 182px;
    border-radius: 5px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.background_introduce .buttom .box2{
  
    background: transparent;
    border: solid 2px var(--color-text3);
    color: black;
    font-size: 17.6px;
    font-weight: 700;
    height: 56px;
    width: 182px;
    color: white;
    border-radius: 5px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background_introduce .buttom .box1:hover{
    background-color: white;
    transition: background-color 0.4s ease;
    cursor: pointer;
}
.background_introduce .buttom .box2:hover{
    background-color: var(--color-two);
    color: black;
    transition: background-color 0.4s ease;
    transition: color 0.5s ease;
    cursor: pointer;
}
    /* --------- End introduce -------- */

    /* ---------2 mid content --------- */
.mid{
    padding-top: 98px;
    height: 1304px;
    background-color: var(--color-one);
}
.mid_content{
    
    
    display: flex;
}
.mid_content .backround_image {
    width: 570px;
    height: 571px;
    padding-left: 16px;
    padding-right: 16px;
}
.mid_content .backround_image img{
    background-size:cover ;
    border-radius: 12px;
    width: 484px;
    height: 571px;
}
.mid_content .content_son{
    width: 570px;
    height: 571px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 23px;
    margin-bottom: 23px;
}
.mid_content .content_son h3{
    font-size: 17.6px;
    color: var(--color-text3);
    margin-bottom: 16px;
}
.mid_content .content_son h1{
    font-size: 60.8px;
    margin-bottom: 16px;
}
.mid_content .content_son ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 23px;
}
.mid_content .content_son ul li{
    width: 148px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    font-size: 17.6px;
    font-weight: 900;
    flex-direction: column-reverse;
    background-color: white;
}
.mid_content .content_son ul li i{
    font-size: 34.6px;
    color: orange;
    padding-bottom: 10px;
}
.mid_content .content_son p{
    margin-bottom: 23px;
    font-size: 17.6px;
    color: var(--color-text3);
}
.mid_content .content_son .readmore a{
    font-size: 17.6px;
    width: 170px;
    height: 60px;
    font-weight: 700;
    color: black;
    background-color: var(--color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.mid_content .content_son .readmore a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.4s ease;
}
.mid .tiltle{
    margin-top: 74px;
     height: 738px;
    width: 100%;
}
.mid .tiltle .inner_tiltle{
    height: 428px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    justify-content: space-around;

}
.mid .tiltle .inner_tiltle .tiltle_son{
    width: 429px;
    padding-top: 58px;
}

.mid .tiltle .inner_tiltle p{
    font-size:17.6px ;
    color: var(--color-text3);
    font-weight:  900;
}
.mid .tiltle .inner_tiltle h1{
    font-size:60.8px;
    color: black;
    margin-top: 16px;
}
.mid .tiltle .inner_tiltle .image_tiltle{
    position: relative;
    bottom: 68px;
    width: 323px;
    height: 428px;
}
.mid .tiltle .inner_tiltle .image_tiltle img{
    border-radius:14px;
}
.under_mid{
    height: 470px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.under_mid .inner_under_mid h2{
    font-size: 25.6px;
    color: black;
    font-weight: 700;
    margin-bottom: 32px;
}
.under_mid .inner_under_mid p{
    font-size: 17.6px;
    color: var(--color-text3);
    margin-bottom: 32px;
}
.under_mid .inner_under_mid ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.under_mid .inner_under_mid ul li{
    display: flex;
    align-items: center;
    color: var(--color-text3);
    font-size: 17.6px;
}
.section{
    background-color: var(--color-one);
    padding: 64px 0;
}
.section .inner_section h1{
    font-size: 60.8px;
    color: black;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.section .inner_section .option{
    display: flex;
    justify-content: space-around;
}
.section .inner_section .option .box a img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
}
.section .inner_section .option .box a .content_box{
    margin-top: 10px;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 26px;
    border-radius: 8px;
}
.section .inner_section .option .box a .content_box p{
    font-size: 17.6px;
    color: var(--color-text3);
}
.section .inner_section .option .box a .content_box h3{
    font-size: 25.6px;
    margin-bottom: 16px;
    font-weight: bold;
}
.section .inner_section .option .box a .arrows {
   position: relative;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    bottom: 42%;
    left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrer{
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: black;
}
.carrer .inner_carrer {
    padding: 60px;
    background-color: white;
    color: var(--color-text3);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
.carrer .inner_carrer .option_carrer{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   width: 42%;
}
.carrer .inner_carrer .tiltle_carrer h1{
    font-size: 65px;
    font-weight: bold;
    color: black;
}
.carrer .inner_carrer .tiltle_carrer p{
    font-size: 17.6px;
    font-weight: bold;
    color: var(--color-text3);
}
.profile{
    background-color: var(--color-one);
    padding: 80px 0;
}
.profile .inner_profile .tiltle_profile {
    text-align: center;
}
.profile .inner_profile .tiltle_profile h1{
    font-size: 60.8px;
    color: black;
    margin-bottom: 16px;
    font-weight: bold;
}
.profile .inner_profile .tiltle_profile p{
    font-size: 17.6px;
    color: var(--color-text3);
    
}
.profile .inner_profile .team_members{
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    gap: 20px;
}
.profile .inner_profile .team_members .member{
    background-color: white;
    width: 270px;
    height: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}


.profile .inner_profile .team_members .member .name h3{
    font-size: 23.6px;
    color: black;
    margin-bottom: 8px;
    font-weight: bold;
}
.profile .inner_profile .team_members .member .name p{
    font-size: 17.6px;
    color: var(--color-text3);
}
.profile .inner_profile .team_members .member .list_social  ul  {
    display: flex;
    gap: 21px;
    font-size: 23px;
    position: relative;
    top: 39%;
}
.profile .inner_profile .team_members .member .list_social  ul li{
    color: var(--color-text3);
    border-radius: 12px 12px 0px 0px;
    background-color: var(--color-one);
    padding: 8px;
}
.profile .inner_profile .team_members .member .list_social  ul  :hover
{
    background-color: var(--color-two);
    color: white;
    transition: background-color 0.4s ease;
}
.end_profile{
    padding-bottom: 80px;
}
.end_profile .inner_end_profile {
    height: 500px;
    margin-top: 5%;
    background-image: url('https://fe-nguyen-minh-khang-pj-1.vercel.app/assets/images/background3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.end_profile .inner_end_profile .tools{
    padding: 20px 50px;
    background-color: white;
    width: 85%;
    border-radius: 14px;
    position: relative;
    top: 90%;
    display: flex;
    justify-content: space-between;
    
}
.end_profile .inner_end_profile .tools .list{
    display: flex;
   flex-direction: column;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-text3);
}
.end_profile .inner_end_profile .tools  a{
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 12px;
    font-weight: bold;
}
.comment{
    background-color: #31363B;
}
.comment .inner_comment{
    padding: 80px 0;
}
.comment .inner_comment p{
    color: var(--color-text3);
    font-size: 17.6px;
    font-weight: bold;
}
.comment .inner_comment h1{
    font-size: 60.8px;
    color: white;
    font-weight: bold;
}
.comment .inner_comment .list_comment{
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    gap: 20px;
}
.comment .inner_comment .list_comment .box_comment{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.comment .inner_comment .list_comment .box_comment p{
    color: var(--color-text3);
    font-size: 26.6px;
    margin-bottom: 20px;
    font-style: italic;
}
.comment .inner_comment .list_comment .box_comment .avatar{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
}
.comment .inner_comment .list_comment .box_comment .avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.comment .inner_comment .list_comment .box_comment .avatar .name{
    text-align: left;
}
.comment .inner_comment .list_comment .box_comment .avatar .name h3{
    font-size: 17.6px;
    color: black;
    margin-bottom: 4px;
    font-weight: bold;
}
.comment .inner_comment .list_comment .box_comment .avatar .name p{
    font-size: 15px;
    color: var(--color-text3);
    margin-bottom: 0;
}
.view{
    background-color: #DCE8EB;
    padding: 70px 0;
}
.view .inner_view{
    text-align: center;
    
}
.view .inner_view .fake_video{
    background-image: url(https://fe-nguyen-minh-khang-pj-1.vercel.app/assets/images/background4.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.view .inner_view .fake_video .icon{
    font-size: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.form{
    
    padding: 70px 0;
}
.form  .inner_form{
    padding: 80px 60px;
    background-color:#DCE8EB ;
    border-radius: 14px;
}
.form  .inner_form h1{
    font-size: 60.8px;
    font-weight: bold;
    margin-bottom: 30px;
}
.form  .inner_form p{
    font-size: 17.6px;
    font-weight: bold;
    color: var(--color-text3);
}
.form  .inner_form .form_group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.form  .inner_form .form_group input{
    width: 33%;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}
.form  .inner_form textarea{
    width: 100%;
    padding: 20px 25px;
    border-radius: 14px;
    margin-bottom: 30px;
}
.form .inner_form a{
    background-color: black;
    color: rgb(245, 245, 245);
    padding: 20px 40px;
    border-radius: 12px;
    font-weight: bold;
    position: relative;
    left: 80%;
    font-size: large;
}
.form .inner_form a:hover{
    background-color: var(--color-two);
    color: black;
    transition: background-color 0.4s ease;
}
footer{
    background-color: black;
    padding: 40px 0;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
    /* --------- End mid content --------- */